on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/upload-artifact@v3
        with:
          name: cat
          path: cat.png
      - run: echo '## Hello, world!' >> $GITHUB_STEP_SUMMARY
